
.jumbotron{
    background: url('https://jbf-media.s3.amazonaws.com/production/page/2018/7/16/071618_JBA_SEAL_WINNER_300.png') no-repeat left top; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: contain;
}
button {
    border-color: black;
    background-color: white;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-variant-caps: inherit;
    font-variant-numeric: inherit;
    font-variant-east-asian: inherit;
    font-weight: 600;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
}
button:hover {
    border-color: white;
    background-color: black;
}

button:hover, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-variant-caps: inherit;
    font-variant-numeric: inherit;
    font-variant-east-asian: inherit;
    font-weight: 600;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: white;
}

button:hover, .btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 66px;
}

input {
    color: black;
}

#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  .nav-item {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .active {
    background-color: #111;
  }

li.dropdown-item {
    float: initial;
    margin-bottom: 10px; /* add spacing */
  }
.dropdown-menu {
    max-width: 300px;
}
